@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
ul li{
    list-style: none;
    display: inline;
    margin: 0px 10px;
    padding: 10px;
    background-color: rgb(247, 142, 159);
    border-radius: 200px 200px;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    padding-bottom: 50px;

}

main {
    padding: 16px;
}


footer {
    position: absolute;
    padding: 20px 20px;
    bottom: 0;
    left: 0px;
    right: 0px;
    background-color: rgb(125, 210, 125);
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px black;
    padding: 16px;
    background-color: lightpink;
}

a:hover{
    color: green;
}

a{
    text-decoration: none;
}

.menulist{
    display: grid;
    grid-template-columns: 200px 200px 200px 1fr;
    grid-gap: 10px 50px;
}
tbody tr:nth-child(even){
    background-color: rgb(202, 190, 190);
}
/* .menu-list-item-cover{
    grid-row-start: 1;
    grid-row-end: 4;
    width: 100%;
} */

/* .menu-list-item h3{
    margin: 0;
} */
